## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Port Alfred,-33.5906,26.8910,63.09,83,100,6.17,ZA,light rain
1,1,Punta Arenas,-53.1500,-70.9167,48.31,71,75,10.36,CL,broken clouds
2,2,Tiksi,71.6872,128.8694,4.75,81,100,19.62,RU,overcast clouds
3,3,Tangi,34.3006,71.6536,59.00,40,0,5.21,PK,clear sky
4,4,Kruisfontein,-34.0033,24.7314,56.91,83,100,3.83,ZA,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
new_preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
5,5,Atuona,-9.8000,-139.0333,78.35,73,1,16.98,PF,clear sky
7,7,Vaini,-21.2000,-175.2000,82.56,89,40,9.22,TO,scattered clouds
15,15,Kloulklubed,7.0419,134.2556,88.30,74,93,12.46,PW,overcast clouds
23,23,San Policarpo,12.1791,125.5072,83.73,79,98,8.50,PH,overcast clouds
25,25,Rikitea,-23.1203,-134.9692,75.07,81,54,11.45,PF,light rain
...,...,...,...,...,...,...,...,...,...,...
660,660,Manggar,-2.8833,108.2667,86.05,65,91,4.23,ID,overcast clouds
661,661,Payyannur,12.1000,75.2000,81.57,77,97,5.55,IN,overcast clouds
667,667,Stabat,3.7610,98.4513,86.20,60,89,0.92,ID,overcast clouds
669,669,Ormara,25.2088,64.6357,78.57,62,37,2.15,PK,scattered clouds
675,675,Gunjur,13.2019,-16.7339,77.07,94,90,4.61,GM,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
new_preferred_cities_df.count()

City_ID                181
City                   181
Lat                    181
Lng                    181
Max Temp               181
Humidity               181
Cloudiness             181
Wind Speed             181
Country                180
Current Description    181
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_preferred_cities_df.dropna()
# New DF
clean_df = new_preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Atuona,PF,78.35,clear sky,-9.8000,-139.0333,
7,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,
15,Kloulklubed,PW,88.30,overcast clouds,7.0419,134.2556,
23,San Policarpo,PH,83.73,overcast clouds,12.1791,125.5072,
25,Rikitea,PF,75.07,light rain,-23.1203,-134.9692,
26,Padang,ID,80.65,overcast clouds,-0.9492,100.3543,
29,Maine-Soroa,NE,78.98,overcast clouds,13.2114,12.0241,
30,Georgetown,MY,85.95,few clouds,5.4112,100.3354,
35,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,
41,Ambunti,PG,87.44,broken clouds,-4.2365,142.8448,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"]= f"{lat} {lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json"  

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
     
    try:
           hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
            #print(hotels.json())
    except Exception as e:
        #print (e)
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df["Hotel Name"].replace( r'^\s*$', None, regex=True)
hotel_df["Hotel Name"].isna()
hotel_df.dropna(axis=0) 
#hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Atuona,PF,78.35,clear sky,-9.8000,-139.0333,Villa Enata
7,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Kloulklubed,PW,88.30,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
23,San Policarpo,PH,83.73,overcast clouds,12.1791,125.5072,Agapita M. Nicart
25,Rikitea,PF,75.07,light rain,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
660,Manggar,ID,86.05,overcast clouds,-2.8833,108.2667,Guest Hotel
661,Payyannur,IN,81.57,overcast clouds,12.1000,75.2000,Kavvayi Beach House
667,Stabat,ID,86.20,overcast clouds,3.7610,98.4513,Link VII damai
669,Ormara,PK,78.57,scattered clouds,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
675,Gunjur,GM,77.07,overcast clouds,13.2019,-16.7339,Dalaba Eco-Lodge Gambia

In [12]:
# hotel_df["Hotel Name"].isnull().value_counts()
clean_hotel_df = hotel_df.dropna(axis=0)

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"
# Export the City_Data into a CSV.
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
Current_Weather = clean_hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))